# Drawing Conclusions Quiz
Use the space below to explore `store_data.csv` to answer the quiz questions below.

In [1]:
# imports and load data
import pandas as pd
df = pd.read_csv('store_data.csv')

In [7]:
# explore data
df.head()
df.describe()
df.info

<bound method DataFrame.info of            week  storeA  storeB  storeC  storeD  storeE
0    2014-05-04    2643    8257    3893    6231    1294
1    2014-05-11    6444    5736    5634    7092    2907
2    2014-05-18    9646    2552    4253    5447    4736
3    2014-05-25    5960   10740    8264    6063     949
4    2014-06-01    7412    7374    3208    3985    3023
5    2014-06-08    1289   10137    5070    7163    1703
6    2014-06-15    6282    3925    5528    4748    3351
7    2014-06-22    5135    7317    5530    4595     104
8    2014-06-29   11766   12560    3199    4676    3573
9    2014-07-06    8567    3228     927    3277     168
10   2014-07-13    3123    6129    4518    4891    4598
11   2014-07-20    5299    5456    2104    3889    2429
12   2014-07-27   14403      14    5146    6982    2032
13   2014-08-03   10400    3488    7993    7837     984
14   2014-08-10    5715   13234    2476    5265    4900
15   2014-08-17   11043    5181    5292    6660    3473
16   2014-08-24     576    9082    2411    4856    1408
17   2014-08-31    5349    3811    3862    4860      59
18   2014-09-07    3167   13080    5921    5063     514
19   2014-09-14    1921    2348    4174    5277    4775
20   2014-09-21    8435    5523    5868    5982     514
21   2014-09-28    1100    6114    4126    6820    2489
22   2014-10-05    7699    9465    8259    6561     298
23   2014-10-12    3954    9037    7101    6385     281
24   2014-10-19    7242   10090    6261    5346    4793
25   2014-10-26    4319    3648    2878    7236    3067
26   2014-11-02    5161    1777    5488    2276    3102
27   2014-11-09    6923    3633    6616    7308    3459
28   2014-11-16    6882     451    3864    7476    3612
29   2014-11-23    8532    7965    4078    3975    1350
..          ...     ...     ...     ...     ...     ...
170  2017-08-06    7659    6899    4486    6129     400
171  2017-08-13    6835    6713    5749    4023     979
172  2017-08-20    8385   14755    6006    4991    2764
173  2017-08-27    3103   10565    3049    6339    6585
174  2017-09-03    7634    3934    5189    6329     274
175  2017-09-10    3813   11627    5563    5877    1756
176  2017-09-17    6393    6035    4486    5609     653
177  2017-09-24    6707    9776    6320    7084    3250
178  2017-10-01    9522   11753    2286    6991     188
179  2017-10-08    5473   10538    5177    5755    3986
180  2017-10-15    8556   11984    4792    5995    2508
181  2017-10-22    3751     697    3990    4236     360
182  2017-10-29    4997    9759    4290    4568    2393
183  2017-11-05   12785    1800    6163    5157     578
184  2017-11-12     137   12261    5455    7695    2599
185  2017-11-19    9960    8529    4501    7631     505
186  2017-11-26    6866    5011    5401    4736    3232
187  2017-12-03    5179    3850    6121    6778     113
188  2017-12-10    9348    5624    5446    5448     227
189  2017-12-17    5310    8647    5680    7049    3578
190  2017-12-24    8976    9503    6240    3882    2890
191  2017-12-31   11875    1527    6711    5265    1701
192  2018-01-07    8978   11312    4158    5019    3842
193  2018-01-14    6963    4014    4215    7153    3097
194  2018-01-21    5553    3971    3761    6255    3071
195  2018-01-28     282    6351    7759    5558    1028
196  2018-02-04    4853    6503    4187    5956    1458
197  2018-02-11    9202    3677    4540    6186     243
198  2018-02-18    3512    7511    4151    5596    3501
199  2018-02-25    7560    6904    3569    5045    2585

[200 rows x 6 columns]>

In [23]:
# total sales for the last month
df.sum(axis = 0, skipna = True) #if we give axis=1,it finds sum of all rows in columns
df.tail()
df.iloc[196:,:].sum()

week      2018-02-042018-02-112018-02-182018-02-25
storeA                                       25127
storeB                                       24595
storeC                                       16447
storeD                                       22783
storeE                                        7787
dtype: object

In [24]:
# average sales
df.mean()

storeA    5865.480
storeB    6756.710
storeC    4942.105
storeD    5431.405
storeE    2580.025
dtype: float64

In [25]:
# sales on march 13, 2016
df[df['week'] == '2016-03-13']

          week  storeA  storeB  storeC  storeD  storeE
97  2016-03-13    2054    1390    5112    5513    2536

In [27]:
# worst week for store C
df[df['storeC'] == df['storeC'].min()]

         week  storeA  storeB  storeC  storeD  storeE
9  2014-07-06    8567    3228     927    3277     168

In [28]:
# total sales during most recent 3 month period
last_three_months = df[df['week'] >= '2017-12-01']
last_three_months.iloc[:, 1:].sum()  # exclude sum of week column

storeA    87591
storeB    79394
storeC    66538
storeD    75190
storeE    27334
dtype: int64